{% extends "nav.html" %}

{% block body %}

<style type="text/css">
.button {
    background-color: green;
    color: black;
    font-size: 24px;
    align: center;
}
</style>

<center>
<input type="text" id="new-topic" placeholder="topic">
<br />
<input type="file" multiple id="input-images">
<br />
<button id="submit-topic">Submit</button>
</center>

<script>
    const topic_elem = document.getElementById("new-topic");
    const submit = document.getElementById("submit-topic");
    const fileInput = document.getElementById('input-images');

    submit.onclick = () => {
      const topic = topic_elem.value;
      const selectedFiles = [...fileInput.files];
      let promises = [];

      for (let i = 0; i < selectedFiles.length; i++) {
          let p = fetch('/' + topic + '/new-image', {
            method: 'POST',
            body: selectedFiles[i],
          });
          promises.push(p);
      }

      Promise.all(promises)
          .then( (responses) => {
              const res = responses[0];
              if (res.ok) {
                  window.location.href = `/${topic}`;
              } else {
                  if (res) {
                      alert(`Error: ${res.statusText}` )
                  }
              }
          })
          .catch(function(err) {
            alert(`Error: ${err}` )
          });
    }
</script>


{% endblock %}
