{% extends "nav.html" %}

{% block body %}

<input type="file" multiple id="input-images">

<script>
    const fileInput = document.getElementById('input-images');
    fileInput.onchange = () => {
      const selectedFiles = [...fileInput.files];
      let promises = [];

      for (let i = 0; i < selectedFiles.length; i++) {
          let p = fetch('/{{ topic }}/new-image', {
            method: 'POST',
            body: selectedFiles[i],
          });
          promises.push(p);
      }

      Promise.all(promises)
          .then( (responses) => {
              const res = responses[0];
              if (res.ok) {
                  window.location.href = '/{{ topic }}';
              } else {
                  if (res) {
                      alert(`Error: ${res.statusText}` )
                  }
              }
          })
          .catch(function(err) {
            alert(`Error: ${err}` )
          });
    }
</script>

{% endblock %}
