{% extends "nav.html" %}

{% block body %}

<div id="new-form">
    <center>
    <input type="file" multiple id="input-images">
    </center>
</div>

<script>
    const loading_html = `
    <center>
    <h1 style="color:white;">uploading...</h1>
    <p style="color:white;">(don't leave this page)</p>
    </center>
    `;
    const fileInput = document.getElementById('input-images');
    fileInput.onchange = () => {
      const selectedFiles = [...fileInput.files];
      let promises = [];

      document.getElementById("new-form").innerHTML = loading_html;

      for (let i = 0; i < selectedFiles.length; i++) {
          let p = fetch('/{{ topic }}/new-image', {
            method: 'POST',
            body: selectedFiles[i],
          });
          promises.push(p);
      }

      Promise.all(promises)
          .then( (responses) => {
              const res = responses[0];
              if (res.ok) {
                  window.location.href = '/{{ topic }}';
              } else {
                  if (res) {
                      alert(`Error: ${res.statusText}` )
                  }
              }
          })
          .catch(function(err) {
            alert(`Error: ${err}` )
          });
    }
</script>

{% endblock %}
